In [4]:
import os
import pandas as pd
import numpy as np
from glob import glob

import pydicom

import matplotlib.pyplot as plt
from matplotlib.patches import Rectangle
import seaborn as sns

In [5]:
# labels
labels_train = pd.read_csv(r'../../data/stage_1_train_labels.csv')
print(len(labels_train))
labels_train.head()

28989

                              patientId      x      y  width  height  Target
0  0004cfab-14fd-4e49-80ba-63a80b6bddd6    NaN    NaN    NaN     NaN       0
1  00313ee0-9eaa-42f4-b0ab-c148ed3241cd    NaN    NaN    NaN     NaN       0
2  00322d4d-1c29-4943-afc9-b6754be640eb    NaN    NaN    NaN     NaN       0
3  003d8fa0-6bf1-40ed-b54c-ac657f8495c5    NaN    NaN    NaN     NaN       0
4  00436515-870c-4b36-a041-de91049b9ab4  264.0  152.0  213.0   379.0       1

In [6]:
print(labels_train.loc[labels_train.Target==0].Target.count())
print(labels_train.loc[labels_train.Target==1].Target.count())
print(len(labels_train.patientId.unique()))
print(labels_train.groupby('patientId').Target.count().sort_values(ascending=False).head())
labels_train.loc[labels_train.patientId=='76f71a93-8105-4c79-a010-0cfa86f0061a']

20025
8964
25684
patientId
76f71a93-8105-4c79-a010-0cfa86f0061a    4
349f10b4-dc3e-4f3f-b2e4-a5b81448ce87    4
1bf08f3b-a273-4f51-bafa-b55ada2c23b5    4
8dc8e54b-5b05-4dac-80b9-fa48878621e2    4
31764d54-ea3b-434f-bae2-8c579ed13799    4
Name: Target, dtype: int64

,patientId,x,y,width,height,Target
11440,76f71a93-8105-4c79-a010-0cfa86f0061a,619.0,488.0,127.0,155.0,1
11441,76f71a93-8105-4c79-a010-0cfa86f0061a,673.0,303.0,106.0,145.0,1
11442,76f71a93-8105-4c79-a010-0cfa86f0061a,314.0,461.0,91.0,128.0,1
11443,76f71a93-8105-4c79-a010-0cfa86f0061a,348.0,303.0,81.0,91.0,1

In [7]:
print('num_patients=', len(labels_train.patientId.unique()))
print('num_patients_normal=', len(labels_train.loc[labels_train.Target==0]))
print('num_patients_box_1=', len(labels_train.loc[labels_train.Target==1].groupby('patientId').filter(lambda x: len(x)==1)))
print('num_patients_box_2=', len(labels_train.loc[labels_train.Target==1].groupby('patientId').filter(lambda x: len(x)==2)))
print('num_patients_box_3=', len(labels_train.loc[labels_train.Target==1].groupby('patientId').filter(lambda x: len(x)==3)))
print('num_patients_box_4=', len(labels_train.loc[labels_train.Target==1].groupby('patientId').filter(lambda x: len(x)==4)))

num_patients= 25684
num_patients_normal= 20025
num_patients_box_1= 2481
num_patients_box_2= 6124
num_patients_box_3= 315
num_patients_box_4= 44

In [9]:
# class
class_train = pd.read_csv(r'../../data/stage_1_detailed_class_info.csv')
print(len(class_train))
class_train.head()

28989

                              patientId                         class
0  0004cfab-14fd-4e49-80ba-63a80b6bddd6  No Lung Opacity / Not Normal
1  00313ee0-9eaa-42f4-b0ab-c148ed3241cd  No Lung Opacity / Not Normal
2  00322d4d-1c29-4943-afc9-b6754be640eb  No Lung Opacity / Not Normal
3  003d8fa0-6bf1-40ed-b54c-ac657f8495c5                        Normal
4  00436515-870c-4b36-a041-de91049b9ab4                  Lung Opacity

In [10]:
print(len(class_train.patientId.unique()))
class_train.loc[class_train.patientId=='76f71a93-8105-4c79-a010-0cfa86f0061a']

25684

                                  patientId         class
11440  76f71a93-8105-4c79-a010-0cfa86f0061a  Lung Opacity
11441  76f71a93-8105-4c79-a010-0cfa86f0061a  Lung Opacity
11442  76f71a93-8105-4c79-a010-0cfa86f0061a  Lung Opacity
11443  76f71a93-8105-4c79-a010-0cfa86f0061a  Lung Opacity

In [11]:
data_raw = pd.concat([labels_train, class_train.drop(columns='patientId')], 1)
print(len(data_raw))
data_raw.head()

28989

,patientId,x,y,width,height,Target,class
0,0004cfab-14fd-4e49-80ba-63a80b6bddd6,NaN,NaN,NaN,NaN,0,No Lung Opacity / Not Normal
1,00313ee0-9eaa-42f4-b0ab-c148ed3241cd,NaN,NaN,NaN,NaN,0,No Lung Opacity / Not Normal
2,00322d4d-1c29-4943-afc9-b6754be640eb,NaN,NaN,NaN,NaN,0,No Lung Opacity / Not Normal
3,003d8fa0-6bf1-40ed-b54c-ac657f8495c5,NaN,NaN,NaN,NaN,0,Normal
4,00436515-870c-4b36-a041-de91049b9ab4,264.0,152.0,213.0,379.0,1,Lung Opacity

In [12]:
data_raw.rename(columns={'Target':'target'}, inplace=True)
data_raw.head()

,patientId,x,y,width,height,target,class
0,0004cfab-14fd-4e49-80ba-63a80b6bddd6,NaN,NaN,NaN,NaN,0,No Lung Opacity / Not Normal
1,00313ee0-9eaa-42f4-b0ab-c148ed3241cd,NaN,NaN,NaN,NaN,0,No Lung Opacity / Not Normal
2,00322d4d-1c29-4943-afc9-b6754be640eb,NaN,NaN,NaN,NaN,0,No Lung Opacity / Not Normal
3,003d8fa0-6bf1-40ed-b54c-ac657f8495c5,NaN,NaN,NaN,NaN,0,Normal
4,00436515-870c-4b36-a041-de91049b9ab4,264.0,152.0,213.0,379.0,1,Lung Opacity

In [ ]:
# data_raw.to_csv('work_1.csv', index=False)

In [14]:
labels_train.loc[labels_train.patientId=='f7f1d7c2-1fa2-430f-8b57-6de4e754c315']

                                  patientId   x   y  width  height  Target
27962  f7f1d7c2-1fa2-430f-8b57-6de4e754c315 NaN NaN    NaN     NaN       0